* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CLASSES GLOBAIS DO SITE */
.centerObject {
    margin-left: auto;
    margin-right: auto;
}
/*CLASSES DO MENU*/

.centerOneLine {
    padding-top: 18px
}

.centerTwoLines {
    padding-top: 10px;
}

.centerThreeLines {
    padding-top: 2px;
}

.menu {
    background-color: #000000;
    text-align: center;
    font-family: arial;
    font-size: 15px;
    margin-top: 15px;
}

.menu ul {
    display: inline-flex;
    list-style: none;
}

.menu ul li {
    width: 100%;
    height: 60px;
    margin: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.active, .menu ul li:hover {
    background-color: #5F9EA0;
    border-radius: 3px;
}

.sub-menu1, .sub-menu2 {
    display: none;
}

.menu ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background-color: #000000;
    margin-top: 6px;
    margin-left: 20px;
}

.menu ul li:hover .align-margin {
    margin-top: 14px;
}

.menu ul li:hover .align-margin2 {
    margin-top: 24px;
}

.menu ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu ul li:hover .sub-menu1 ul li {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-bottom: 1px dotted white;
    text-align: left;
}

.menu ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}

.menu ul li:hover .width ul li {
    width: 170px;
}

.menu ul li ul li:hover .sub-menu2 {
    position: absolute;
    display: block;
    margin-left: 140px;
    margin-top: -30px;
    background-color: #000000;
}

.menu .fa {
    margin-right: 8px;
}

.fa-angle-right {
    float: right;
}


/*.menuContainer ul li:hover .sub-menu1 ul li a:hover {
    color: aqua;
}*/
/*CLASSES DO MENU*/


/*CLASSES GLOBAIS*/

.texto {
    font-family: arial;
    font-size: 25px;
    
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 5px;
    
    color: white;
    
    line-height: 1.5;
    
    text-align: justify;
}

h1{
    font-family: "Times new roman";
    font-size: 30px;
    
    padding-left: 5px;
    
    line-height: 1.5;
    
    color: white;
    
    text-align: center;
    
    border-bottom: solid 2px #5F9EA0;
    border-top: solid 2px #5F9EA0;
}

h2{
    font-family: "Times new roman";
    font-size: 25px;
    
    padding-left: 5px;
    padding-top: 5px;
    
    line-height: 1.5;
    
    text-align: center;
    
    color: white;
    
    border-bottom: solid 3px #5F9EA0;
}

/*CLASSES GLOBAIS*/

#caixaBasePrincipal{
    width: 100%;
    height: 3800px;
    
    background-color: black;
    
    float: left;
}

#logo{
    width: 160px;
    height: 75px;
    margin-left: 50px;
    float: left;
}

#logo img{
    width: 160px;
    height: 75px;
    float: left;
}
#sobre{
    width: 100%;
    height: 460px;
    
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 110px;
    
    background-color: black;
    
    float: left;
}

#imagemFormatar{
    width: 290px;
    height: 130px;
    
    margin-top: 20px;
    margin-left: 15px;
    
    float: left;
}

#imagemFormatar img{
    width: 290px;
    height: 130px;
    
    float: left;
}

.formatacoes{
    width: 510px;
    height: 234px;
    
    margin-right: 90px;
    
    float: left;
}

.baseAzul{
    width: 100%;
    height: 380px;
    
    margin-bottom: 50px;
    
    padding-top: 70px;
    padding-left: 110px;
    
    border-radius: 15px 15px 15px 15px; 
    
    background-color: #5F9EA0;
    
    float: left;
}

.basePreto{
    width: 100%;
    height: 290px;
    
    margin-bottom: 70px;
    
    padding-top: 35px;
    padding-left: 110px;
    
    background-color: black;
    
    float: left;
}

.conteudo{
    width: 180px;
    height: 232px;
    
    float: left;
}

.conteudoTexto{
    width: 325px;
    height: 232px;
    
    line-height: 1.7;
    
    float: right;
}

.conteudoTexto p{
    font-size: 20px;
}

.espacamentoTopo{
    margin-top: 40px;
}

.imagem{
    width: 180px;
    height: 150px;

    float: left;
}

.imagem img{
    width: 180px;
    height: 185px;
    
    float: left;
}

.rodape {
    background-color: white;
    width: 100%;
    height: 80px;
}

.redes-sociais {
    padding-top: 16px;
    margin-left: 1020px;
    height: 100%;
    width: 20%;
}

.facebook, .instagram, .twitter, .whatsapp {
    margin-left: 13px;
    height: 50px;
    width: 50px;
    float: left;
}

.redes-sociais a:active,
.redes-sociais a:hover {
    color: #2f3030;
    text-decoration: none;
    text-shadow: 4px 0px 0px rgb(95, 158, 160);
}

.redes-sociais a {
    color: black;
    font-size: 50px;
    transition: text-shadow 0.5s;
}

.subirTopo {
    text-decoration: none;
    bottom: 5px;
    right: 30px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    position: fixed;
    border: 0;
    border-radius: 100%;
    }
    
    .subirTopo:hover {
    color: #5f9ea0;
    opacity: 10;
    }